.response-body{
    box-sizing: border-box;
    color: #3b4151;
    font-family: sans-serif;
}
table{
    display: table;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}

.response-body table {
    border-collapse: collapse;
    padding: 0 10px;
    width: 100%;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.response-body code{
    font-family: Consolas,monaco,monospace;
}
code.curl{
    display: block;
    overflow-x:auto;
    padding: 0.5em;
    background: rgb(51, 51, 51);
    color: white;
}
code.response{
    display: block;
    overflow-x:auto;
    padding: 0.5em;
    background: rgb(51, 51, 51);
    color: white;
}